html {
    width: 100%;
}

body {
    overflow-x: hidden !important;
}

body.show-spinner > main {
    overflow: hidden !important;
}

/* Hide everything under body tag */
body.show-spinner > * {
    opacity: 0;
}

/* Spinner */
body.show-spinner::after {
    content: " ";
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    border-top-color: rgba(0, 0, 0, 0.3);
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
    left: calc(50% - 15px);
    top: calc(50% - 15px);
    position: fixed;
    z-index: 1;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

small,
.small {
    font-size: 14px;
}

.select2-container--bootstrap .select2-results__option[aria-selected="true"] {
    background: #c7c7c7;
    color: #000000;
}

.modal-backdrop.show {
    opacity: 0.5 !important;
}

.badge {
    font-size: 14px;
}
.listing-card-container .listing-desc,
.listing-card-container .listing-heading {
    height: auto;
}

.bg-grey {
    background-color: #d2d2d2;
}

.error {
    color: #c43d4b;
}
.logo {
    width: 320px;
    height: 65px;
    background-size: contain;
}
.logo-single {
    width: 215px;
    height: 107px;
    margin-bottom: 15px;
    background-size: contain;
}

.menu .main-menu ul li span.badge {
    padding-top: 2px;
    padding-bottom: 2px;
}

.menu .sub-menu {
    width: 245px !important;
}

.img_width{
    width: 100px;
}

#switch {
display: none;
}
.switch-label {
    cursor: pointer;
    display: block;
    border: 1px solid #999;
    border-radius: 11px;
    background-color: #DDD;
    width: 40px;
    height: 20px;
    position: relative;
    transition: all 0.2s;
}
.switch-label:after {
    content: '';
    background-color: #FFF;
    border: 1px solid #999;
    border-radius: 10px;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.2s;
}
#switch:checked + .switch-label {
    background-color: #3eafe9;
    border-color: #3eafe9;
}
#switch:checked + .switch-label:after {
    left: 20px;
    border-color: #3eafe9;
}
.success{
    color: green !important;
}
.error{
    color: red !important;
}